[init]
    defaultBranch = main

[commit]
    gpgsign = true

[core]
    preloadindex = true
    fscache = true
    pager = delta

[interactive]
    diffFilter = delta --color-only

[fetch]
    prune = true
    parallel = 4

[pull]
    ff = only

[push]
    autosetupremote = true
    default = current
    followTags = true

[alias]
    lg = log --graph --pretty=format:'%C(auto)%h%d %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    br = branch
    sw = switch
    rs = restore
    cleanup = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[merge]
    conflictstyle = zdiff3
    ff = false

[rerere]
    enabled = true

[diff]
    algorithm = histogram
    submodule = log

[difftool]
    prompt = false

[submodule]
    recurse = true

[status]
    submoduleSummary = true

[pack]
    deltaCacheSize = 2047m
    threads = 1
    windowMemory = 1g

[delta]
    features = "catppuccin-mocha diff-so-fancy"
    true-color = always
    hyperlinks = true
    dark = true
    side-by-side = true
    line-numbers = true
    navigate = true

[include]
    path = "~/.config/delta/catppuccin.gitconfig"

[includeIf "hasconfig:remote.*.url:gitlab-personal:*/**"]
    path = ~/.gitconfig-gitlab-personal

[includeIf "hasconfig:remote.*.url:gitlab:*/**"]
    path = ~/.gitconfig-gitlab

[includeIf "hasconfig:remote.*.url:gh-arterro:*/**"]
    path = ~/.gitconfig-github

[includeIf "hasconfig:remote.*.url:codeberg:*/**"]
    path = ~/.gitconfig-codeberg
